.parking-img{
     width:200px;
    height: 350px;
    margin-top: 20px;
    margin-left: 200px;
    box-shadow: 0 0 10px #FFF;
}
.project-git-btn{
    background-color: #9B30FF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    height: 50px;
  }
  .project-btn:hover {
    background-color: #7a1fd1;
    box-shadow: 0 0 10px #8a2be2;
  }
  .image-describe-parking{
    color: #FFF;
    width: 500px;
    margin-left: 200px;
    margin-top: 100px;
}
.parking-git-btn{
  margin-top: 20px;
  margin-left: 16%;

}
/* mobile Responsive */

@media(max-width:440px){
  .image-describe-parking{
    width: 500px;
    margin-left: 30px;
    font-size: 13px;
}
.parking-img{
  width:150px;
  height: 350px;
  margin-top: 20px;
  margin-left: 10px;
}
.project-git-btn{
  width: 130px;
  height: 40px;
  font-size: 13px;
  margin-top: 30px;
  margin-left: 50px;
}
.parking-git-btn{
  margin-top: 20px;
  margin-left: 20%;

}

}

@media (max-width:1024px) and (min-width:740px){
  .parking-img{
    margin-left: 40px;
    margin-top: 40px;
  }
  .image-describe-parking{
    margin-left: 150px;
  }
}