.webquest-container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.webquestcertificate-img{
  height: 250px;
  width: 400PX;
  display: flex;
  justify-content: center;
}
.webquestcertificate-img2{
    height: 200px;
    width: 300PX;
    display: flex;
    justify-content: center;
  }
.Subheading{
    color: #FFF;
    margin-left: 190px;
    margin-top: 50px;;
}
.webquest-description{
    color: #FFF;
    width:750px;
    margin-left: 250px;
}
.Certified{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    background: var(--secondary-color, #313131);
    width: 430px;
    height: 284px;
    align-content: center;
    align-items: center;
    margin-top: 30px;
    flex-shrink: 0;
    margin-left: 35%;
}

/* Mobile View */
@media (max-width:440px){
.webquest-container{
    margin-top: 30%;
}
.webquestcertificate-img{
  height: 190px;
  width: 250PX;
}
.webquestcertificate-img2{
    height: 150px;
    width: 200PX;
  }
.Subheading{
    margin-left: 30px;
    margin-top: 50px;;
}
.webquest-description{
    width:250px;
    margin-left: 70px;
}
.Certified{
    border-radius: 8px;
    width: 250px;
    height: 214px;
    margin-left: 15%;
}
}
@media (max-width:1024px) and (min-width:740px){
    .Subheading{
        margin-left: 100px;
    }
    .webquest-description{
        margin-left: 140px;
    }
    .Certified{
        margin-left: 28%;
    }
}